---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 공부 기록</title>
  </head>

  <body>
    <h1>내 공부 기록 📚</h1>
    <ul>
      {posts.map((post: any) => (
        <li>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html>