---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---
<Layout>
    <header class="py-10">
        <h1 class="text-2xl font-extrabold tracking-tight text-text-base">My learning journal 📚</h1>
    </header>

    <ul class="grid gap-6">
        {posts.map(post => (
            <li class="group border p-6 rounded-2xl bg-bg-card border-border-base hover:border-indigo-500 transition-colors shadow-sm">
                <a href={`/blog/${post.id}`}>
                    {/* 카드 제목 */}
                    <h2 class="text-2xl font-bold text-text-base group-hover:text-indigo-600 dark:group-hover:text-indigo-400">
                        {post.data.title}
                    </h2>
                    {/* 본문 요약 */}
                    <p class="text-text-muted mt-2 line-clamp-2">
                        {post.data.description}
                    </p>
                    {/* 날짜 */}
                    <div class="mt-4 text-sm text-slate-400 dark:text-slate-500">
                        {post.data.date.toLocaleDateString()}
                    </div>
                </a>
            </li>
        ))}
    </ul>
</Layout>